@{
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

}
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-products">
        <h1 style="font-family:'Times New Roman', Times, serif;color:lightgreen;margin:30% ;text-align:center">
            <i class="fa-regular fa-circle-check"></i><i>Pay Success</i>
        </h1>
    </div>
</div>

