@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@using Pro3MVC.Entities;

@model FacultySubjectEntity;
<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
	<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
		<div class="row">
			<div class="col-12">
				<h2 class="tm-block-title d-inline-block">Add Subject</h2>
			</div>
		</div>
		<div class="row tm-edit-product-row">
			<div class="col-xl-6 col-lg-6 col-md-12">
				<form asp-area="admin" asp-controller="faculty" asp-action="addFacsub" method="post" class="tm-edit-product-form">
					@*<p style="color: darkred">@TempData["exists"]</p>*@
					<div class="form-group mb-3" style="display:none;">
						<input name="fid" value= @ViewBag.IdFaculty>
					</div>
					<div class="form-group mb-3">
						<label for="category">Subject name</label>
						<select asp-for="SubjectId"
							   asp-items="@(new SelectList(ViewBag.listofSubject, "Id", "Name"))"></select>
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block text-uppercase">Add Now</button>
					</div>
				</form>

			</div>

		</div>
	</div>
</div>


<script>
	$(function() {
		$("#expire_date").datepicker();
	});
</script>



