@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@using Pro3MVC.Entities;
@model SubjectEntity;

<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
	<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
		<div class="row">
			<div class="col-12">
				<h2 class="tm-block-title d-inline-block">Add Subject</h2>
			</div>
		</div>
		<div class="row tm-edit-product-row">
			<div class="col-xl-6 col-lg-6 col-md-12">
				<form asp-area="admin" asp-controller="subject" asp-action="addSubject" method="post" class="tm-edit-product-form">
					<div class="form-group mb-3">
						<label>
							Subject Name
						</label>
						<input asp-for="Name"
							   type="text"
							   class="form-control validate"
							   required>
					</div>
					<div class="form-group mb-3">
						<label for="name">
							Session
						</label>
						<input asp-for="Sessions"
							   type="number"
							   class="form-control validate"
							   required />
					</div>
					<div class="form-group mb-3">
						<label for="category">Status</label>
						<select class="custom-select tm-select-accounts"
								asp-for="Status">
							<option value="true">Active</option>
							<option value="false">Deactive</option>
						</select>
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block text-uppercase">
							<i class="fas fa-check"></i> &nbsp; Add Subject Now
						</button>
					</div>
				</form>

			</div>

		</div>
	</div>
</div>


<script>
	$(function() {
		$("#expire_date").datepicker();
	});
</script>



