@model IEnumerable<Pro3MVC.Models.Subject>

@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
	<div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height:fit-content!important">
		<div class="tm-product-table-container">
			<table class="table table-hover tm-table-small tm-product-table">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col">Subject Name</th>
						<th scope="col">Sessions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row"><input type="checkbox" /></th>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>@Html.DisplayFor(modelItem => item.Sessions)</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
		<!-- table container -->
		<a asp-area="admin" asp-controller="subject" asp-action="addSubject"
		   class="btn btn-primary btn-block text-uppercase mb-3">
		   <i class="fas fa-plus"></i>&nbsp; Add new subject</a>

	</div>
</div>



<script>
	$(function() {
		$(".tm-product-name").on("click", function() {
			window.location.href = "edit-product.html";
		});
	});
</script>

